/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold the main styles for your website. */
/* This file is a base starter file with the regions and wrappers */
/* pre-filled for easy identification. This style sheet also assumes */
/* that the full-width wrappers are enabled for each zone */

.node-page header h1 {
  display: inline;
}
.node-page header a {
  margin: 0;
  color: #6e797d;
  text-decoration: none;
  font-weight: normal;
  font-size: 25px;
  font-family: "Rufina", serif;
}
#region-content .node-page {
  margin-bottom: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ddddd7;
}
#region-content article.node-page header {
  padding-bottom: 35px;
  border-bottom: 1px solid #ddddd7;
}
article.node-teaser .submitted {
  color: #7f7f78;
  font-style: italic;
  font-size: 13px;
  font-family: "Georgia", serif;
}
#region-content p {
  color: #7f7f78;
  word-wrap: break-word;
  font-size: 13px;
  font-family: "Georgia", serif;
  line-height: 20px;
}
#region-content .node-page header p {
  display: inline;
  margin: 0;
  color: #6e797d;
  font-size: 25px;
  font-family: "Rufina", serif;
}
article.node-teaser {
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #ddddd7;
}
article.node-teaser .node-title a {
  color: #6e797d;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  font-family: "Rufina", serif;
}
article.node-teaser a {
  color: #a76143;
  text-decoration: none;
  font-style: italic;
  font-size: 13px;
  font-family: "Georgia", serif;
}

article.node-teaser .links {
  color: #7f7f78;
  font-style: italic;
  font-size: 13px;
  font-family: "Georgia", serif;
}
.pager .pager-current {
  background: #b87f66;
  color: #ffffff;
}
.pager {
  margin: 20px 0 20px 0;
  padding: 0 0 0 0;
  height: 30px;
  background: #f5f5ef;
}
.pager li {
  display: inline-block;
  padding: 6px;
  list-style: none;
}
.pager li a {
  color: #6e797d;
  text-decoration: none;
  font-size: 16px;
  font-family: "Sintony", sans-serif;
}
#block-system-main {
  margin-top: 2px;
  padding: 0 30px 0 30px;
}
#page-title {
  padding: 30px 0 30px 30px;
  border-bottom: 1px solid #ddddd7;
}
#region-content {
  background-color: #ffffff;
}
#page {
  background: url(../images/bluebg.png) repeat;
}
#block-system-powered-by {
  margin: 10px 0 10px 0;
  color: #7f7f78;
  text-align: center;
  font-size: 15px;
  font-family: "Georgia", serif;
}
#block-system-powered-by a {
  color: #a76143;
  text-decoration: none;
  font-style: italic;
  font-size: 15px;
  font-family: "Georgia", serif;
}
.feed-icon {
  margin: 10px 0 10px 0;
  text-align: center;
}
#region-footer-first {
  padding: 25px 0 50px 0;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 1px 1px 0px #5d5f67;
  font-size: 18px;
  font-family: "Rufina", serif;
  filter: dropshadow(color=#5d5f67, offx=1, offy=2);
}
#block-views-archive-block .views-summary li {
  margin: 5px;
  list-style: none;
}
#block-views-archive-block  li {
  display: inline-block;
  width: 110px;
  border-bottom: 1px solid #ddddd7;
}
#block-views-archive-block  li a {
  color: #a76143;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
  font-family: "Rufina", serif;
}
#block-views-archive-block {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ddddd7;
}
#block-views-categories-block ul li {
  margin: 5px;
  list-style: none;
}
#block-views-categories-block ul {
  padding: 0;
}
#block-views-categories-block li {
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid #ddddd7;
}
#block-views-categories-block li a {
  color: #a76143;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
  font-family: "Rufina", serif;
}
aside .block a {
  color: #a76143;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
  font-family: "Rufina", serif;
}
aside .block {
  padding: 20px 15px 20px 15px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ddddd7;
  color: #696961;
  font-size: 12px;
  font-family: "Georgia", serif;
}
aside .block li {
  margin: 10px 0 10px 0;
}
aside .block table tr {
  height: 35px;
}
aside .block h2 {
  padding: 10px 0 20px 0;
  color: #696961;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: "Georgia", serif;
}
aside {
  background: url(../images/sidebarbg.png);
}
#comments h2 {
  margin: 20px 0 20px 0;
  color: #6e797d;
  font-weight: normal;
  font-size: 20px;
  font-family: "Rufina", serif;
}
.comment-submitted {
  margin: 10px 0 20px 0;
  color: #7f7f78;
  font-size: 13px;
  font-family: "Georgia", serif;
}
#comments a {
  color: #a76143;
  text-decoration: none;
  font-size: 14px;
  font-family: "Georgia", serif;
}
#comments .indented {
  margin: 20px 0 20px 40px;
  color: #7f7f78;
  font-size: 13px;
  font-family: "Georgia", serif;
}
#comments .comment {
  margin: 20px 0 20px 0;
  color: #7f7f78;
  font-size: 13px;
  font-family: "Georgia", serif;
}
#comments .indented a {
  color: #a76143;
  text-decoration: none;
  font-size: 14px;
  font-family: "Georgia", serif;
}
#comments .links {
  margin-top: 20px;
}
.comment a {
  color: #a76143;
  text-decoration: none;
  font-size: 14px;
  font-family: "Georgia", serif;
}
.comment .links a {
  color: #a76143;
  text-decoration: none;
  font-size: 14px;
  font-family: "Georgia",serif;
}
/* Comment form
 -----------------------------------------------------------------------------*/
input,
textarea {
  padding: 9px;
  width: 200px;
  outline: 0;
  border: solid 1px #e5e5e5;
  background: #ffffff url("bg_form.png") left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#ffffff), color-stop(4%, #eeeeee), to(#ffffff));
  background: -moz-linear-gradient(top, #ffffff, #eeeeee 1px, #ffffff 25px);
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
}
textarea {
  height: 150px;
  line-height: 150%;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #c9c9c9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.form-item label {
  margin-bottom: 10px;
  color: #999999;
  font-weight: normal;
}
label {
  display: block;
}
.form-required {
  color: #ff0000;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin: 0 5px 0 0;
  padding: 9px 15px;
  width: auto;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #617798;
  color: #ffffff;
  font-size: 14px;
}
.form-item {
  margin: 10px 0 10px 0;
}
#comment_form .form h2 {
  margin: 20px 0 20px 0;
  color: #6e797d;
  font-weight: normal;
  font-size: 20px;
  font-family: "Rufina", serif;
}
.tips {
  color: #7f7f78;
  font-size: 13px;
  font-family: "Georgia", serif;
}
#region-content h1 {
  color: #6e797d;
  font-weight: normal;
  font-size: 25px;
  font-family: "Rufina", serif;
}
#flickr_badge_uber_wrapper {
  float: left;
  width: 250px;
}
#flickr_badge_wrapper {
  float: left;
  width: 250px;
}
.flickr_badge_image {
  float: left;
  margin: 0 5px 5px 0;
}
.flickr_badge_image img {
  border: 1px solid black !important;
}
#flickr_badge_source {
  margin: 0 10px 0 10px;
  text-align: left;
}
#flickr_badge_icon {
  margin-right: 5px;
}
#flickr_www {
  display: block;
  padding: 0 10px 0 10px !important;
  color: #3993ff !important;
  font: 11px Arial, Helvetica, Sans serif !important;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
  background: inherit !important;
  color: #3993ff;
  text-decoration: none !important;
}
#flickr_badge_source {
  padding: 0 !important;
  color: #666666 !important;
  font: 11px Arial, Helvetica, Sans serif !important;
}
.front article h2 {
  margin: 10px 0 0 80px;
}
#search-block-form input {
  width: 230px;
  background: url(../images/searchicon.png) no-repeat;
  background-color: #ffffff;
  background-position: 220px 11px;
  color: #babab0;
  font-style: italic;
  font-size: 11px;
  font-family: Arial;
}
.logo-img {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}
#block-system-main-menu {
  position: absolute;
  top: 40px;
  padding-top: 20px;
  width: 940px;
}
ul.menu li {
  display: block;
  float: left;
  margin: 0 20px 0 20px;
  list-style: none;
}
ul.menu li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #5d5f67;
  font-size: 18px;
  font-family: "Coustard", serif;
  filter: dropshadow(color=#5d5f67, offx=1, offy=2);
}
#breadcrumb a {
  color: #a76143;
  text-decoration: none;
  font-style: italic;
  font-size: 13px;
  font-family: "Georgia", serif;
}
#breadcrumb {
  padding: 20px 0 0 20px;
}
.articles_count {
  float: right;
  padding: 35px 30px 0 0;
  color: #a76143;
}
.node-type-article .submitted {
  color: #7f7f78;
  font-size: 13px;
  font-family: "Georgia", serif;
}
.node-type-article .field-name-field-category {
  color: #7f7f78;
  font-size: 13px;
  font-family: "Georgia", serif;
}
.node-type-article .field-name-field-category a {
  color: #a76143;
  text-decoration: none;
  font-style: italic;
  font-size: 13px;
  font-family: "Georgia", serif;
}
.node-type-article nav .links a {
  color: #a76143;
  text-decoration: none;
  font-size: 18px;
  font-family: "Georgia", serif;
}
.tabs .active a {
  color: #7f7f78;
  font-size: 15px;
  font-family: "Georgia", serif;
}
.tabs a {
  color: #a76143;
  font-size: 15px;
  font-family: "Georgia", serif;
}
#search-form {
  padding-top: 20px;
}
.search-results li {
  padding: 25px 0 25px 0;
  border-bottom: 1px solid #ddddd7;
}
.search-results li a {
  color: #6e797d;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  font-family: "Rufina", serif;
}
.search-results li h3 {
  margin: 20px 0 20px 0;
}
#block-system-main h2 {
  color: #6e797d;
  font-weight: normal;
  font-size: 20px;
  font-family: "Rufina", serif;
}
.node-article .content .field-type-image {
  margin: 20px 0 20px 0;
  padding: 5px;
  background-color: rgba(108, 108, 97, 0.1);
  text-align: center;
}
.node-article .content .field-type-image .left {
  float: left;
  margin: 10px 10px 0 0;
  padding: 10px;
  width: 256px;
  background-color: rgba(108, 108, 97, 0.1);
}
.node-article .content .field-type-image .right {
  float: right;
  margin: 0 0 10px 10px;
  padding: 10px;
  width: 256px;
  background-color: rgba(108, 108, 97, 0.1);
}
