/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

.front article .content {
  width: 500px;
  float: left;
  margin-left: 80px;
}
.front article .submitted {
  float: left;
  width: 60px;
  height: 60px;
  border: 1px dashed #ddddd7;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
article.node-teaser .submitted .day {
  margin: 5px 0 5px 0;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 5px 0 0;
}
article.node-teaser .submitted .month {
  text-transform: uppercase;
  font-size: 10px;
}
.front article .node-links {
  clear: both;
  margin-left: 70px;
  padding-top: 20px;
}
.form-item-copy {
  width: 180px;
}
.form-checkbox {
  width: 20px;
  float: right;
}
.node-article header {
  margin-bottom: 20px;
}
.node-article .links {
  margin-top: 20px;
}
.node-type-article .submitted {
  float: right;
  padding-top: 20px;
}
.node-type-article .field-name-field-category {
  float: left;
  width: 250px;
  margin-top: 20px;
}
